body {
    background-color: rgb(41, 39, 48);
    color: white;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.accueil {
    position: absolute;
    margin-top: 5px;
    color: white;
    margin-left: 10px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 775px;
    position: relative;
}


h2 {
    color: rgb(3, 95, 182);
}

h3 {
    color: rgb(0, 153, 255);
    font-size: 15px;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

a:hover{
    color: rgb(182, 165, 165);
}

.menu {
    margin-bottom: 60px;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 600px;
    margin-right: 650px;
    padding-bottom: 60px;
    border-bottom: solid 1px ;
}

.content{
    margin-left: 425px;
    margin-top: 70px;
    margin-right: 500px;
    background-color: rgb(63, 63, 63);
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 5px white;
}

a {
    color: white;
}