body {
    background-color: rgb(168, 168, 168);
    background-image: url("df-min.jpg");
    color: rgb(255, 255, 255);
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 350px;
    margin-right: 350px;
}

.img{
    width: 100%;
    display: flex;
    padding-top: 40px;
}

.firstBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(226, 83, 0);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 30px;
    padding: 5px;
    height: 250px;
    box-shadow: 0px 10px 20px 1px black;
}

