body {
    background-color: rgb(5, 11, 20);
    color: white;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    justify-content: center;
    text-align: center;
}

h2{
    justify-content: center;
    text-align: center;
}

h3{
    justify-content: center;
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

a:hover{
    color: rgb(182, 165, 165);
}

.menu {
    margin-bottom: 60px;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 60px;
    border-bottom: solid 1px ;
}

a {
    color: white;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.github{
    border-radius: 30px;
}

.github:hover{
    border-radius: 15px;
    box-shadow: 0px 15px 30px 15px black;
    transition: all 0.7s ease-out;
}